{% load sgg_design_tags %}
<script src="{{STATIC_URL}}js/jquery-ui-timepicker-addon.js"></script>

<div class="content-box">
	<div class="content-box-title">Unlock Condition Creator
       <a href="#" style="float: right">
            <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20" align="center"
                 title="Click to get help about this window"
                 onclick="toggleHelp(event, 'widget', 'unlock-creator'); return false;"
                    /></a>
 	</div>
	<div id="content" class="content-box-contents">
		<div id="unlock_creator" class="container-fluid">
			<div class="row-fluid">
				Match <select name="and_or" id="and_or" class="short-select"><option value="and">all</option><option value="or">any</option></select> the following unlock conditions:
			</div>
			<div class="row-fluid predicate-row" data-row=1>
				<hr/>
				<div class="span2">
					<select class="predicate_choices">
					{% for predicate in view_objects.unlock_creator.predicates %}
						<option value="{{predicate}}">{{predicate}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 action_slug">
					<select name="designer_action_choice" id="action_choice">
					{% for action_slug in view_objects.unlock_creator.action_slugs %}
						<option value="{{action_slug}}">{{action_slug}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 action_type hidden">
					<select name="designer_action_type_choice" id="action_type_choice">
					{% for value in view_objects.unlock_creator.action_types %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 event_slug hidden">
					<select name="designer_event_choice" id="event_choice">
					{% for value in view_objects.unlock_creator.event_slugs %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 game_name hidden">
					<select name="designer_game_choice" id="game_choice">
					{% for value in view_objects.unlock_creator.game_names %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 level_name hidden">
					<select name="designer_level_choice" id="level_choice">
					{% for value in view_objects.unlock_creator.level_names %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 resource hidden">
					<select name="designer_resource_choice" id="resource_choice">
					{% for value in view_objects.unlock_creator.resources %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 round_name hidden">
					<select name="designer_round_choice" id="round_choice">
					{% for value in view_objects.unlock_creator.round_names %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 count hidden">
					<input type="number" name="count" min="0" max="15" value="1">
				</div>
				<div class="span2 date_string hidden">
					<input type="text" name="event_date" value="2013-06-12 10:38:32" id="id_date" class="hasDatepicker">
				</div>
				<div id="plus-sign" class="span1">
					<a class="enabled ticket-add circle" href="#"
                	   onclick="addPredicateRow(this.parentElement.parentElement); return false;">+</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var predicateRows = 1;

function hideAllParameters(elem) {
	var row = elem.getAttribute('data-row');
	log.debug('hideAllParameters(' + row + ')');
	$('.predicate-row[data-row=]"'+ row +'"] div.action_slug').addClass('hidden');
	$('.predicate-row[data-row=]"'+ row +'"] div.action_type').addClass('hidden');
	$('.predicate-row[data-row=]"'+ row +'"] div.event_slug').addClass('hidden');
	$('.predicate-row[data-row=]"'+ row +'"] div.game_name').addClass('hidden');
	$('.predicate-row[data-row=]"'+ row +'"] div.level_name').addClass('hidden');
	$('.predicate-row[data-row=]"'+ row +'"] div.resource').addClass('hidden');
	$('.predicate-row[data-row=]"'+ row +'"] div.round_name').addClass('hidden');
	$('.predicate-row[data-row=]"'+ row +'"] div.count').addClass('hidden');
	$('.predicate-row[data-row=]"'+ row +'"] div.date_string').addClass('hidden');
}

function showParameters(elem, data) {
	var row = elem.getAttribute('data-row');
	log.debug('showParameters(' + row + ')');
	var parameters = data.parameters;
	for (var i = 1; i < parameters.length; i++) {
		log.debug(parameters[i])
		var item = $('.predicate-row[data-row=]"'+ row +'"] div.' + parameters[i]);
		if (item) {
			item.removeClass('hidden');
		}
	}
}

function activateSelection() {
	log.debug("select.onchange");
	var parent = this.parentElement.parentElement;
	hideAllParameters(parent);
	var chosenOption = this.options[this.selectedIndex];
	log.debug("predicate selected = " + chosenOption.value);
	jQuery.ajax({
		url: "/unlock_creator/predicate_parameters/" + chosenOption.value + "/",
		success: function(data) {
			showParameters(parent, data);
		}
	});	
}

$(function() {
	  $('#id_date').datetimepicker({ dateFormat: 'yy-mm-dd', timeFormat: 'hh:mm:ss' });
});

function addPredicateRow(elem) {
	var copy = $('.predicate-row:first').clone();
	predicateRows += 1;
	copy.attr('data-row', predicateRows);
	copy.children('div.span2 select').change(function() {
		log.debug("select.onchange");
		var parent = this.parentElement.parentElement;
		hideAllParameters(parent);
		var chosenOption = this.options[this.selectedIndex];
		log.debug("predicate selected = " + chosenOption.value);
		jQuery.ajax({
			url: "/unlock_creator/predicate_parameters/" + chosenOption.value + "/",
			success: function(data) {
				showParameters(parent, data);
			}
		});
	});
	$('#unlock_creator').append(copy);
}

var predSelect = $("div.predicate-row:first div.span2 select")
log.debug(predSelect.onchange);
predSelect.change(function() {
	log.debug("select.onchange");
	var parent = this.parentElement.parentElement;
	hideAllParameters(parent);
	var chosenOption = this.options[this.selectedIndex];
	log.debug("predicate selected = " + chosenOption.value);
	jQuery.ajax({
		url: "/unlock_creator/predicate_parameters/" + chosenOption.value + "/",
		success: function(data) {
			showParameters(parent, data);
		}
	});
});
</script>