{% load sgg_design_tags %}
<script src="{{STATIC_URL}}js/jquery-ui-timepicker-addon.js"></script>

<div class="content-box">
	<div class="content-box-title">Unlock Condition Creator
       <a href="#" style="float: right">
            <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20" align="center"
                 title="Click to get help about this window"
                 onclick="toggleHelp(event, 'widget', 'unlock-creator'); return false;"
                    /></a>
 	</div>
	<div id="content" class="content-box-contents">
		<div id="unlock_creator" class="container-fluid">
			<div class="row-fluid">
				Match <select name="and_or" id="and_or" class="short-select"><option value=" and ">all</option><option value=" or  ">any</option></select> the following unlock conditions:
			</div>
			<div id="clause-1" class="row-fluid predicate-row" data-row=1>
				<hr/>
				<div class="span1 not">
					<input type="checkbox" name="not" value="not-1">  Not
				</div>
				<div class="span2 predicates">
					<select class="predicate_choices">
					{% for predicate in view_objects.unlock_creator.predicates %}
						<option value="{{predicate}}">{{predicate}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 action_slug">
					<select name="designer_action_choice" id="action_choice">
					{% for action_slug in view_objects.unlock_creator.action_slugs %}
						<option value="{{action_slug}}">{{action_slug}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 action_type hidden">
					<select name="designer_action_type_choice" id="action_type_choice">
					{% for value in view_objects.unlock_creator.action_types %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 event_slug hidden">
					<select name="designer_event_choice" id="event_choice">
					{% for value in view_objects.unlock_creator.event_slugs %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 game_name hidden">
					<select name="designer_game_choice" id="game_choice">
					{% for value in view_objects.unlock_creator.game_names %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 level_name hidden">
					<select name="designer_level_choice" id="level_choice">
					{% for value in view_objects.unlock_creator.level_names %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 resource hidden">
					<select name="designer_resource_choice" id="resource_choice">
					{% for value in view_objects.unlock_creator.resources %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 round_name hidden">
					<select name="designer_round_choice" id="round_choice">
					{% for value in view_objects.unlock_creator.round_names %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="span2 count hidden">
					<input type="number" name="count" min="0" max="15" value="1" class="short-select">
				</div>
				<div class="span2 date_string hidden">
					<input type="text" name="event_date" value="2013-06-12 10:38:32" id="id_date" class="hasDatepicker">
				</div>
				<div id="plus-sign" class="span1 plus-sign">
					<a class="enabled ticket-add circle" href="#"
                	   onclick="addPredicateRow(this.parentElement.parentElement); return false;">+</a>
					<a class="enabled ticket-add circle" href="#"
                	   onclick="deletePredicateRow(this.parentElement.parentElement); return false;">-</a>
				</div>
			</div>
		</div>
		<a href="#" class="btn btn-widget"
			onclick="buildUnlock(); return false;">Use this Unlock Condition</a>
	</div>
</div>

<script type="text/javascript">
var predicateRows = 1;
function buildUnlock() {
	log.debug('buildUnlock()');
	var anyOrAll = $('#and_or')[0];
	var unlock = '';
	for (var i = 1; i <= predicateRows; i++) {
		log.debug('clause ' + i);
		var clause = $('#clause-' + i);
		var notChoice = $('#clause-' + i + ' div.not input');
		log.debug(notChoice.prop('checked'));
		if (notChoice.prop('checked')) {
			unlock += 'not ';
		}
		var elem = $('#clause-'+ i + ' div.predicates');
		var selectElem = elem.children('select')[0];
 		var chosenOption = selectElem.options[selectElem.selectedIndex];
		log.debug(chosenOption.value);
		unlock += chosenOption.value + '(';
		var addedParam = false;
		if ($('#clause-'+ i +' div.action_slug').is(":visible")) {
			elem = $('#clause-'+ i +' div.action_slug');
			selectElem = elem.children('select')[0];
//			log.debug(selectElem.options[selectElem.selectedIndex].value);
			unlock += '"' + selectElem.options[selectElem.selectedIndex].value + '", ';
			addedParam = true;
		}
		if ($('#clause-'+ i +' div.action_type').is(":visible")) {
			elem = $('#clause-'+ i +' div.action_type');
			selectElem = elem.children('select')[0];			
//			log.debug(selectElem.options[selectElem.selectedIndex].value);
			unlock += '"' + selectElem.options[selectElem.selectedIndex].value + '", ';
			addedParam = true;
		}
		if ($('#clause-'+ i +' div.event_slug').is(":visible")) {
			elem = $('#clause-'+ i +' div.event_slug')
			selectElem = elem.children('select')[0];			
//			log.debug(selectElem.options[selectElem.selectedIndex].value);
			unlock += '"' + selectElem.options[selectElem.selectedIndex].value + '", ';
			addedParam = true;
		}
		if ($('#clause-'+ i +' div.game_name').is(":visible")) {
			elem = $('#clause-'+ i +' div.game_name')
			selectElem = elem.children('select')[0];			
//			log.debug(selectElem.options[selectElem.selectedIndex].value);
			unlock += '"' + selectElem.options[selectElem.selectedIndex].value + '", ';
			addedParam = true;
		}
		if ($('#clause-'+ i +' div.level_name').is(":visible")) {
			elem = $('#clause-'+ i +' div.level_name')
			selectElem = elem.children('select')[0];			
//			log.debug(selectElem.options[selectElem.selectedIndex].value);
			unlock += '"' + selectElem.options[selectElem.selectedIndex].value + '", ';
			addedParam = true;
		}
		if ($('#clause-'+ i +' div.resource').is(":visible")) {
			elem = $('#clause-'+ i +' div.resource')
			selectElem = elem.children('select')[0];			
//			log.debug(selectElem.options[selectElem.selectedIndex].value);
			unlock += '"' + selectElem.options[selectElem.selectedIndex].value + '", ';
			addedParam = true;
		}
		if ($('#clause-'+ i +' div.round_name').is(":visible")) {
			elem = $('#clause-'+ i +' div.round_name')
			selectElem = elem.children('select')[0];			
//			log.debug(selectElem.options[selectElem.selectedIndex].value);
			unlock += '"' + selectElem.options[selectElem.selectedIndex].value + '", ';
			addedParam = true;
		}
		if ($('#clause-'+ i +' div.count').is(":visible")) {
			elem = $('#clause-'+ i +' div.count')
			selectElem = elem.children('input')[0];			
//			log.debug(selectElem.options[selectElem.selectedIndex].value);
			unlock += selectElem.value + ', ';
			addedParam = true;
		}
		if ($('#clause-'+ i +' div.date_string').is(":visible")) {
			elem = $('#clause-'+ i +' div.date_string')
			selectElem = elem.children('input')[0];			
//			log.debug(selectElem.options[selectElem.selectedIndex].value);
			var dateStr = selectElem.value;
			unlock += '"' + dateStr.substring(0, dateStr.length - 9) + '", ';
			addedParam = true;
		}
		if (addedParam) {
			unlock = unlock.substring(0, unlock.length - 2);
		}
		unlock += ')' + anyOrAll.options[anyOrAll.selectedIndex].value;
	}
	unlock = unlock.substring(0, unlock.length - 5);
 	alert(unlock);
}


function hideAllParameters(row) {
	log.debug('hideAllParameters(' + row + ')');
	$('#clause-'+ row +' div.action_slug').addClass('hidden');
	$('#clause-'+ row +' div.action_type').addClass('hidden');
	$('#clause-'+ row +' div.event_slug').addClass('hidden');
	$('#clause-'+ row +' div.game_name').addClass('hidden');
	$('#clause-'+ row +' div.level_name').addClass('hidden');
	$('#clause-'+ row +' div.resource').addClass('hidden');
	$('#clause-'+ row +' div.round_name').addClass('hidden');
	$('#clause-'+ row +' div.count').addClass('hidden');
	$('#clause-'+ row +' div.date_string').addClass('hidden');
}

function showParameters(row, data) {
	log.debug('showParameters(' + row + ')');
	var parameters = data.parameters;
	for (var i = 1; i < parameters.length; i++) {
		log.debug(parameters[i])
		var item = $('#clause-'+ row +' div.' + parameters[i]);
		if (item) {
			item.removeClass('hidden');
		}
	}
}

function activateSelection(row) {
	log.debug("activateSelection(" + row + ")");
	var clause = $('#clause-' + row);
	hideAllParameters(row);
	var predicateElem = clause.children('.predicate_choices')
	var chosenOption = predicateElem.options[predicateElem.selectedIndex];
	log.debug("predicate selected = " + chosenOption.value);
	jQuery.ajax({
		url: "/unlock_creator/predicate_parameters/" + chosenOption.value + "/",
		success: function(data) {
			showParameters(parent, data);
		}
	});	
}

$(function() {
	  $('#id_date').datetimepicker({ dateFormat: 'yy-mm-dd', timeFormat: 'hh:mm:ss' });
});

function addPredicateRow(elem) {
	var copy = $('.predicate-row:first').clone();
	predicateRows += 1;
	copy.attr('id', 'clause-' + predicateRows)
	copy.attr('data-row', predicateRows);
//	$('#clause-'+ predicateRows +' div.date_string input.hasDatepicker').datetimepicker({ dateFormat: 'yy-mm-dd', timeFormat: 'hh:mm:ss' });
	var notCheckbox = copy.children('.not input');
	notCheckbox.attr('value', 'not-' + predicateRows);
	$('#unlock_creator').append(copy);
	activatePredicate(predicateRows);
}

function deletePredicateRow(elem) {
	var parent = elem.parentElement;
	parent.removeChild(elem);
}

function activatePredicate(row) {
	log.debug('activatePredicate(' + row + ')');
	var predSelect = $('#clause-' + row + ' select.predicate_choices');
	predSelect.change(function() {
		log.debug('onchange for row ' + row);
		hideAllParameters(row);
		var chosenOption = this.options[this.selectedIndex];
		log.debug("selected predicate = "+ chosenOption.value);
		jQuery.ajax({
			url: "/unlock_creator/predicate_parameters/" + chosenOption.value + "/",
			success: function(data) {
				showParameters(row, data);
			}
		});		
	});
}

activatePredicate(1);
</script>