<div class="content-box">
    <div class="content-box-title">
        Edit Teams
    </div>
    <div class="content-box-contents">
        Create, edit, and delete the teams.
        <form method="post" action=".">{% csrf_token %}
	        <h3 class="no-top">Add Teams</h3>
            Feature is unimplemented.<br/>
                Add team: <input type="text" name="new_team"/>
                <select name="assign_to_group">
                    {% for group_name in view_objects.edit_teams.groups %}
                    <option value="{{ group_name }}">{{ group_name }}</option>
                    {% endfor %}
                </select><br/>
                {% if view_objects.edit_teams.new_team_result %}
                    <span style="font-weight: bold">{{ view_objects.edit_teams.new_team_result }}</span> 
                {% endif %}
            <br/>
            <h3 class="no-top">Change Team Groups</h3>
            <span style="font-weight: bold">Change the group of an existing team.</span><br/>
            Feature is unimplemented.<br/>
            <!-- Todo: widget to change team groups -->
            <br/>
            <h3 class="no-top">Delete Teams</h3>
            <span style="font-weight: bold">WARNING: Deleting teams is not reversible.</span><br/>
            {% if view_objects.edit_teams.teams_and_groups %}
                {% for team in view_objects.edit_teams.teams_and_groups %}
                    <input type="checkbox" name="delete_team[]" value="{{ team.0 }}">&nbsp;Delete <span style="font-weight: bold">{{ team.0 }}</span> in group {{ team.1 }}</input><br/>
                {% endfor %}
            {% endif %}
            {% if view_objects.edit_teams.teams_deleted %}
                {% for team_status in view_objects.edit_teams.teams_deleted %}
                    <span style="font-weight: bold">{{ team_status }}</span>
                {% endfor %}
            {% endif %}
            <br/>
            <input type="submit" value="Save" />
        </form>
    </div>
</div>