<div class="content-box">
    <div class="content-box-title">
        Edit Round Settings
        <a href="#" style="float: right">
            <img src="{{ STATIC_URL }}images/icons/icon-help-sm.png" width="20"
                align="center"
                title="Click to get help about this window"
                onclick="toggleHelp(event, 'widget', 'edit-teams-and-groups'); return false;" />
        </a>
    </div>
    <div class="content-box-contents">
        Change the dates and times for each round.
    </div>
</div>