<div class="content-box">
    <div class="content-box-title">
        Enable Games
        <a href="#" style="float: right">
            <img src="{{ STATIC_URL }}images/icons/icon-help-sm.png" width="20"
                align="center"
                title="Click to get help about this window"
                onclick="toggleHelp(event, 'widget', 'enable-games'); return false;" />
        </a>
    </div>
    <div class="content-box-contents">
        Enable or disable games, then save your settings.<br/>
        <form method="post" action=".">{% csrf_token %}
        <h3 class="no-top">Disable Games</h3>
        {% if view_objects.enable_games.games_enabled %}
            {% for game in view_objects.enable_games.games_enabled %}
               <input type="checkbox" name="enabled_game[]" value="{{ game }}">&nbsp;Disable <span style="font-weight: bold">{{ game }}</span></input><br/>
            {% endfor %}
            {% else %}
                No games are enabled.<br/>
        {% endif %}
        <h3 class="no-top">Enable Games</h3>
        {% if view_objects.enable_games.games_disabled %}
            {% for game in view_objects.enable_games.games_disabled %}
                <input type="checkbox" name="disabled_game[]" value="{{ game }}">&nbsp;Enable <span style="font-weight: bold">{{ game }}</span></input><br/>
            {% endfor %}
            {% else %}
                No games are disabled.<br/>
        {% endif %}
        <input type="submit" value="Save" />
        </form>
    </div>
</div>