<div class="content-box">
    <div class="content-box-title">
        Edit Teams and Groups
        <a href="#" style="float: right">
            <img src="{{ STATIC_URL }}images/icons/icon-help-sm.png" width="20"
                align="center"
                title="Click to get help about this window"
                onclick="toggleHelp(event, 'widget', 'edit-teams-and-groups'); return false;" />
        </a>
    </div>
    <div class="content-box-contents">
        Create and edit the teams and groups.
        <form method="post" action=".">{% csrf_token %}
            <!-- Fields to add teams -->
            <h3 class="no-top">Add Team</h3>
               <span style="font-weight: bold">Create a new team.</span><br/>
                Add team: <input type="text" name="new_team"/>
                Select team group:
                <select name="assign_to_group">
                    {% if view_objects.edit_teams_and_groups.groups %}
                        {% for group_name in view_objects.edit_teams_and_groups.groups %}
                        <option value="{{ group_name }}">{{ group_name }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="None" disabled>---------</option>
                    {% endif %}
                </select><br/>
                {% if view_objects.edit_teams_and_groups.new_team_result %}
                    <span style="font-weight: bold">{{ view_objects.edit_teams_and_groups.new_team_result }}</span><br/>
                {% endif %}
            <br/>
            
            <!-- Fields to create groups -->
            <h3 class="no-top">Add Group</h3>
               <span style="font-weight: bold">Create a new group.</span><br/>
                Add group: <input type="text" name="new_group"/><br/>
                {% if view_objects.edit_teams_and_groups.new_group_result %}
                    <span style="font-weight: bold">{{ view_objects.edit_teams_and_groups.new_group_result }}</span><br/> 
                {% endif %}
            <br/>
            
            <!-- Fields to change team groups -->
            <h3 class="no-top">Change Team Groups</h3>
            <span style="font-weight: bold">Change the group of an existing team.</span><br/>
            {% if view_objects.edit_teams_and_groups.teams_and_groups %}
                {% for team in view_objects.edit_teams_and_groups.teams_and_groups %}
                    <input type="checkbox" name="change_team_group[]" value="{{ team.0 }}">&nbsp;Change team <span style="font-weight: bold">{{ team.0 }}</span> to:&nbsp;</input>
                    <select name="set_group[]">
                    {% if view_objects.edit_teams_and_groups.groups %}
                        {% for group in view_objects.edit_teams_and_groups.groups %}
                           {% ifequal group team.1 %}
                               <option value="{{ team.0 }},{{ group }}" selected>{{ group }} (Current setting)</option>
                           {% else %}
                               <option value="{{ team.0 }},{{ group }}">{{ group }}</option>
                           {% endifequal %}
                        {% endfor %}
                    {% endif %}
                    </select><br/>
                {% endfor %}
                {% else %}
                    There are no teams.<br/>
            {% endif %}
            {% if view_objects.edit_teams_and_groups.teams_groups_changed %}
                {% for result in view_objects.edit_teams_and_groups.teams_groups_changed %}
                    {{ result }}<br/>
                {% endfor %}
            {% endif %}
            <br/>
            <input type="submit" value="Save" />
        </form>
    </div>
</div>