{% load markup %}
<div id="action-details" class="content-box">
    <div class="content-box-title">
        <table>
            <tr>
                <td>About the {{ action.type }}</td>
                <td width="1%">
                    <a href="#">
                        <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png"
                             width="20" align="center"
                             title="Click to get help about this window"
                             onclick="toggleHelp(event, 'widget', '{{action.type}}-details'); return false;"
                            /></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-box-contents activity-task">
        <p/>
        <center>
        <b>{{ action.title }}</b></center>
        <p/>
{% if action.image %}
        <center><img src="{{ action.image.url }}" /> </center>
{% endif %}
        <p/>
{{ action.description|markdown }}
        <p/>
{% if action.video_id %}
    {% include "components/action_video.html" with action=action %}
{% endif %}
{% if action.embedded_widget %}
    {% include view_objects.embedded_widget_template %}
{% endif %}
        <p/>
        <center>
            <br/> <br/>
        </center>
        <p/>
    </div>
    <center>
    {% if action.type == 'activity' %}
	    <div id="go-button">
    	    <b>
        	    Once you are done, click the button below to get your points!
	        </b>
    	    <p/>
        	<a onclick="task_form_overlay(event)">
            	<button style="cursor:pointer;" class="btn btn-widget">
                	I Did This!
	                <img src="{{ STATIC_URL}}images/right.png"
    	                 width="25" align="center"></button>
        	</a>
    	</div>  
    {% endif %}
    {% if action.type == 'commitment' %}
    	<div id="go-button">
           <a onclick="task_form_overlay(event)">
                <button id="go-button" style="cursor:pointer;" class="btn btn-widget">I will do this!
                    <img src="{{ STATIC_URL}}images/right.png"
                         width="25" align="center">
                </button>
            </a>
        </div>
    {% endif %}
    {% if action.type == 'event' %}
        {% if action.event.is_event_completed %}
        <div id="go-button">
            <b>This event was already completed at {{ action.event.event_date }} <br/>
                If you attended the event, Click on the "I Did it" button to get
                your points. <p/>
                <a onclick="task_form_overlay(event)">
                    <button style="cursor:pointer;" class="btn btn-widget">
                        I Did it
                        <img src="{{ STATIC_URL}}images/right.png"
                             width="25" align="center">
                    </button>
                </a>
            </b>
        </div>
        {% else %}
                <form >
                    {% csrf_token %}
                    <button id="submit_button5" style="cursor:pointer;" class="btn btn-widget">
                        I want to sign up
                        <img src="{{ STATIC_URL }}images/right.png"
                             width="25" align="center"/>
                    </button>
                </form>
        {% endif %}
	{% endif %}
     </center>  
</div>

<script type="text/javascript">
function task_form_overlay(event) {
	$('#go-button').addClass('hidden');
    var modalElement = $('#taskModal');
	modalElement.removeClass('hidden');
    $('#id_social_email').focus();
    $('#id_response').focus();
    return false;
}

</script>