{% load sgg_design_tags %}

<div class="sgg_grid">
	<div class="sgg-dropzone">
		<div id="category-dropzone" class="sgg-category-dropzone">
			<table class="designer-table">
				<tr>
					{% for i in 8|get_range %}
					<td><div class="sgg-category-slot" data-column={{i|add:1}}>
					{% if i < level.cat_list|length %}
						{% with cat=level.cat_list|nth:i %}
						<div id="category-menu-{{cat.slug}}" class="sgg-level-popup-menu">
							<ul>
								<li><a href="#{{forloop.counter}}" class="sgg-action"
								rel="tooltip" 
								title="Delete this column from the level. Moves all the actions in the column to the palette">Delete column {{cat.name}}</a>
								</li>
							</ul>
						</div> 
					<div id="category-{{cat.slug}}" data-slug="{{cat.slug}}" class="sgg-category grid-draggable" 
						 data-priority={{i}} data-pk={{cat.pk}} data-level="sgg-level-{{level.priority}}">
						 <br/>
						 <a class="sgg-category-link" href="/challenge_setting_admin/smartgrid_design/designercategory/{{cat.pk}}/">
						 {{cat.name}}</a>
						 <br/>
					</div>
<script type="text/javascript">
	$("#category-{{cat.slug}}").bind("contextmenu", function(e) {
		$('#category-menu-{{cat.slug}}').css({
			top: e.pageY+'px',
			left: e.pageX+'px'
		}).show();
		return false;
	});
	$("#category-menu-{{cat.slug}}").click(function() {
		$(this).hide();
	});
	$(document).click(function() {
		$("#category-menu-{{cat.slug}}").hide();
	});
</script>
						 {% endwith %}
					{% endif %}
					</div></td>
					{% endfor %}
				</tr>
			</table>
		</div>
	</div>
	<div class="sgg-dropzone">
		<div id="action-dropzone" class="sgg-action-dropzone">
			<table class="designer-table">
				{% for i in 8|get_range %}
				<tr>
					{% for j in 8|get_range %}
					<td>
                        {% if j < level.cat_list|length %}
							{% with cat=level.cat_list|nth:j %}
                        <div class="sgg-action-slot" data-category="{{cat.slug}}"
                        	{% endwith %}
                        {% else %}
                        <div class="sgg-action-slot disabled"     
                        {% endif %}
							data-column="{{ j|add:'1' }}" data-row="{{ i|add:'1' }}">
							{% if j < level.cat_list|length %}
								{% with cat=level.cat_list|nth:j %}
								{% if i < cat.task_list|length %}
									{% with act=cat.task_list|nth:i %}
								<div data-slug="{{act.slug}}" class="sgg-action sgg-{{act.type}}-cell grid-draggable"
                   		   			 data-type="{{act.type}}" data-priority="{{i|add:1}}" data-column="{{j|add:1}}" 
                   		   			 data-category="{{cat.slug}}" data-pk={{act.pk}} data-unlock="{{act.unlock_condition}}">
                   		   			<br/>
                   		   			<a href="/challenge_setting_admin/smartgrid_design/designer{{act.type}}/{{act.pk}}/"
									   class="sgg-action" ref="tooltip" title="{{act.title}}">{{act.name}}</a><br/>
								</div>								
									{% endwith %}
								{% endif %}
								{% endwith %}
							{% endif %}
						</div>
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>