.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

a.sgg-category {
	color: @sgg-entry-font-color;
}

.palette-draggable {
	float: left;
	margin: 2px;	
}

.sgg-action {
	color: @sgg-entry-font-color;
}

.sgg-activity {
    color: @sgg-entry-font-color;
    background-color: @sgg-activity-cell-bkg-color;
    border: 1px solid #000;    
}

.sgg-activity-cell, .sgg-activity-palette {
    color: @sgg-entry-font-color;
    background-color: @sgg-activity-cell-bkg-color;
    border: 1px solid #000;    
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
    width: 64px;
    height: 64px;
}

.sgg-activity-palette {
	font-size: 13px;
	line-height: 13px;
}

.sgg-category, .sgg-category-drop {
    background-color: @sgg-header-bkg-color;
    color: @sgg-header-font-color;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 64px;
    width: 64px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-transform: capitalize;
}

.sgg-category.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

.sgg-category-dropzone {
    border: 2px solid #000;
//	height: 56px;
}

.sgg-category-link {
    color: @sgg-entry-font-color;	
}

.ssg-category-selections {
    border: 1px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 10px auto 0 auto;
    text-align: center;
}

.sgg-category-slot {
    margin: 2px;
    border: 1px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-style: dashed;    
    text-align: center;
    width: 64px;
    height: 64px;
    float: left;
}

.sgg-category-slot:first-child {
    margin-left: 0px;
}

.sgg-category-title {
    text-align: center;
}

.sgg-commitment {
    color: @sgg-entry-font-color;
    background-color: @sgg-commitment-cell-bkg-color;
    border: 1px solid #000;    
}

.sgg-commitment-cell, .sgg-commitment-palette {
    color: @sgg-entry-font-color;
    background-color: @sgg-commitment-cell-bkg-color;
    border: 1px solid #000;    
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
    width: 64px;
    height: 64px;
}

.sgg-commitment-palette {
	font-size: 13px;
	line-height: 13px;
}

.sgg-differences {
    border: 1px solid #000;    
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;	
	height: 220px; 
	width: 90%;
	overflow: scroll;	
	margin-top: 10px;
	padding-left: 5px;
}

.sgg-diff-action {
//    text-transform: capitalize;	
    font-weight: bold;	
}

.sgg-diff-fields {
	padding-left: 10px;	
}

.sgg-event {
    color: @sgg-entry-font-color;
    background-color: @sgg-event-cell-bkg-color;
    border: 1px solid #000;    
}

.sgg-event-cell, .sgg-event-palette {
    color: @sgg-entry-font-color;
    background-color: @sgg-event-cell-bkg-color;
    border: 1px solid #000;    
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
    width: 64px;
    height: 64px;
}

.sgg-event-palette {
	font-size: 13px;
	line-height: 13px;
}

//.sgg-excursion {
//    color: @sgg-entry-font-color;
//    background-color: @sgg-excursion-cell-bkg-color;
//    border: 1px solid #000;    
//}

//.sgg-excursion-cell {
//    color: @sgg-entry-font-color;
//    background-color: @sgg-excursion-cell-bkg-color;
//    border: 1px solid #000;    
//    border-radius: 8px;
//    -moz-border-radius: 8px;
//    -webkit-border-radius: 8px;
//    text-align: center;
//    width: 64px;
//    height: 64px;
//}

.sgg-filler {
    color: @sgg-entry-font-color;
    background-color: @sgg-filler-cell-bkg-color;
    border: 1px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
    width: 64px;
    height: 64px;
}

.sgg-filler-cell, .sgg-filler-palette {
    color: @sgg-entry-font-color;
    background-color: @sgg-filler-cell-bkg-color;
    border: 1px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
    width: 64px;
    height: 64px;
}

.sgg-filler-palette {
	font-size: 13px;
	line-height: 13px;
}

.sgg-library-action {
    color: @sgg-header-font-color;
    float: left;
    overflow: hidden;
    margin: 2px;
    padding: 2px;
    height: 64px;
    width: 64px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #000;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    text-transform: capitalize;	
    font-weight: bold;
}

.sgg-dropzone {
    border: 1px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}	

.sgg-action-slot {
    margin: 2px;
    border: 1px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-style: dashed;    
    text-align: center;
    width: 64px;
    height: 64px;
    float: left;
}

.sgg-action-slot:first-child {
    margin-left: 0px;
}

.sgg-action[data-position=in-grid] {
	background: rgba(99, 90, 73, 0.2);	
}

.sgg-pk {
	float: left;
	margin: 1px 0 0 1px;
}

.sgg-unlock {
	float: right;
	margin: 0 1px 1px 0;
}

.sgg-clear {
    color: @sgg-entry-font-color;
    border: 1px dashed #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
    width: 64px;
    height: 64px;
}

.sgg-trash {
	background: url("../images/icons/icon-empty-trash-can.png");
	color: @sgg-entry-font-color;
    height: 150px;
	width: 140px;
    border: 1px solid #000;    
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
}

.sgg-unlock-lint {
    border: 1px solid #000;    
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;	
	height: 420px; 
	width: 100%;
	overflow: scroll;	
	margin-top: 10px;
	padding-left: 5px;
}


.sgg-load-example {
	color: @sgg-entry-font-color;
    height: 170px;
	width: 90%;
	padding-top: 8px;
	padding-left: 8px;
    border: 1px solid #000;    
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: left;
}

#id_grid {
	width: 90%;
}

.sgg-right-palette {
	color: @sgg-entry-font-color;
    height: 800px;
	width: 90%;
    border: 1px solid #000;    
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
	overflow: scroll;		
}

.with-border {
    border: 1px solid #000;    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;	
}