.sgg-category {
    background-color: @sgg-header-bkg-color;
    color: @sgg-header-font-color;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 48px;
    width: 56px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-transform: capitalize;
}
